<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musica Vida</title>
    <!-- link for bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- link for css -->
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Flow+Circular&family=Pathway+Gothic+One&family=Splash&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="/assignments" class="navbar-brand" id="logo">🎹 Musica Vida</a>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- <a href="https://bostonbachexchange.github.io/project_1/?fbclid=IwAR0TTfazqvvCpXh4QPVH7Y4dEoZO0O_Ci3vyXD0PFhVT5N_Q6EFoqHuW8jY" class="nav-link text-light">Games</a> -->
                
                <!--Check if user is logined in, if logged in logged in TRUE, show  -->
                {% if loggedIn %}
                <ul class="navbar-nav">
                    <li><a href="/assignments/index" class="nav-link text-light btn"><span style="color: rgb(247, 163, 163);"><span style="color: yellow;">{{displayName}}'s</span> Lessons</span></a></li> 
                    <!-- Check if user is logged in, if TRUE, show -->
                        <li><a href="/assignments/new" class="nav-link text-light btn">New Assignment</a></li>
                        <!-- Check if user is logged in, if TRUE, show -->
                        <li><a href="/assignments/scales" class="nav-link text-light btn"><span style="color: rgb(123, 255, 7);">Scales</span></a></li> 
                        <!-- Check if user is logged in, if TRUE, show -->
                        <li><a href="/assignments/studio" class="nav-link text-light btn"><span style="color: whitesmoke;">Studio Assignments</span></a></li> 
                <!-- Check if user is logged in, if TRUE, show -->
                    <li><a href="/profile/show" class="nav-link text-light btn">Profile<span style="color: yellow;">{{displayName}}</span></a></li>
            </ul> 
            <ul class="navbar-nav navbar-pull-right">
                <a href="/users/logout" style="color: white" class="nav-link text-light btn"> <span style="color: rgb(247, 163, 163);">Log out</span></a>
            </ul>
                {% else %}
                <ul class="navbar-nav">
                <!--Check if user is logged in, if logged in logged in FALSE, show  -->
                    <li><a href="/users/login" class="nav-link text-light btn">Log in</a></li>
                <!--Check if user is logined in, if logged in logged in FALSE, show  -->
                    <li><a href="/users/signup" class="nav-link text-light btn">Sign Up</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <main class="container-md">
        {% block content %}
        my content
        {% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>