{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">All Assignments</h2>
    <div class="row">
        {% for assignment in assignments %}
            <div class="card" style="width: 18rem">
                <h5 class="card-header">{{assignment.date}}</h5>
                <div class="card-body">
                    <p class="card-text">
                        Lesson
                    </p>
                    <a href="/assignments/{{assignment._id}}" class="btn btn-info">View Assignment{{assignment.date}}</a>
                    <!-- <p>Fruit id: {{fruit._id}}</p> -->
                </div>
            </div>
        {% endfor %}
    </div>
    <h3><a href="">ADD</a></h3>
</div>
{% endblock %}