{% layout 'layout.liquid' %}
{% block content %}

<div 
    class="container-md bg-dark" 
    style="
        width: 250px; 
        color: whitesmoke;
        margin-top: 15px;
        border-radius: 15px;
    ">
    <form action="/users/login" method="POST">
        <fieldset>
            <legend>Welcome Back</legend>
            <label class="form-label">Username:</label>
            <input 
                type="text" 
                name="username" 
                class="form-control"
            >
            <label class="form-label">Password:</label>
            <input 
                type="password" 
                name="password" 
                class="form-control"
            >
        </fieldset>
        <input 
            style="
                margin: 20px; 
                text-align: center; 
                color:darkgreen;
            "
            type="submit" 
            value="Login"
            class="btn bg-light"
        >
    </form>
    <div style="text-align: right">No Account? <a href="/users/signup">Sign Up</a></div>
</div>

{% endblock %}