{% layout 'layout.liquid' %}

{% block content %}
<div id="home">
<h2>Assignments</h2>
<p>Work with your teacher to keep track of your lessons and what you need to practice each week. Create a new assignment to keep track of your new goals for the week.</p>
<hr>
<h2>My Lessons</h2>
<p>You can view all your lesson assignments under the My Assignments tab. Browse through each lesson by date. Click on a lesson assignment to view the details of each assignment. You can update your assignment to add new notes or information. You can keep old assignments to view your progress. You can remove the old assignments by clicking delete.</p>
<hr>
<h2>New Assignments</h2>
<p>After each lesson create a new assignment with your teacher so you can remember what to focus on. Think about how to balance your time by working on many skills, not just playing repertoire. How much time will you spend each day on technique, sight reading, learning new repertoire, and maintaining old repertoire? <br><br>If you are learning multiple with many teachers, then you can enter your teacher's name and your instrument. Consult with your teacher to add notes or comments. You might also copy and paste links to online resources.</p>
<hr>
<h2>Profile</h2>
<p>You're profile information will help your teacher know what music to assign you, and how to contact you.</p>
<hr>
</div>
{% endblock %}