{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2>Lessons</h2>
    <div>
        {% for assignment in assignments %}
            <div style="margin: 18px;">
                <a href="/assignments/{{assignment._id}}" style="color: white;" class="btn bg-dark">
                    <h5>{{assignment.instrument}} Lesson with {{assignment.teacher}}</h5>
                    {{assignment.date | date: "%B %d, %Y"}}</a>
            </div>
                {% endfor %}
            </div>
    </div>
</div>
{% endblock %}