{% layout 'layout.liquid' %}

{% block content %}
<form action="/assignments" method="POST">
    <input type="text" name="teacher" placeholder="">
    <input type="date" name="date" placeholder="">
    <input type="text" name="dechnique" placeholder="">
    <input type="text" name="sight_reading" placeholder="">
    <input type="text" name="rook" placeholder="">
    <input type="text" name="notes" placeholder="">
</form>
{% endblock %}